@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');
@media screen and (max-width: 839px){

h1,h2,h3,h4,h5{
    font-family: 'Roboto', 'Open Sans', sans-serif;
}
p, a {
    font-family: 'Montserrat';
}


body{
    max-width: 840px;
    margin: 0 auto;
    background-color: white;
    border: black solid 5px;

}

nav {
    background-color: darkblue;
    text-align: center;
    padding: 20px;
    max-width: 840px;
    flex-direction: column;
    display: flex;
 
    
}
nav a {
    color: white;
    font-size: 25px;
    font-family: bold;
    text-decoration: none;
    margin: 20px 40px  20px 40px;
    border-radius: 5px;
    
}
nav a:hover {
background-color: #06c799;
color: darkblue;

}
h1{
    text-align: center;
}
#designtitle{
    grid-template-rows: 1fr 1fr;
    display: grid;
}
#typograph{
    grid-row: 1/2;
    text-align: center;
}
#typograph h2{
    text-align: center;
}
#colorschema{
    grid-row: 2/3;
    text-align: center;
    margin: 0 auto;
    
}
#color1{
    background-color: darkblue;
    text-align: center;
    color: white;
}
#color2{
    background-color: #06c799;
    text-align: center;
}
#color3{
    background-color: #6bf5ff;
    text-align: center;
}
#color4{
   background-color:#500202;
   text-align: center;
   color: white;
}

table, th, td {
    border: 1px solid black;
    width: 50px;
    
  }
  th, td {
    padding: 20px 80px 20px 80px;
  }
  #paragraph{
    background-color: #6bf5ff;
    border: black solid 2px;
  } 
  #purpose{
    text-align: center;
  }

  #logo{
    margin: 0 auto;
    display: block;
  }
  .centertxt{
    text-align: center;
  }
  #persona{
    margin: 0 auto;
  }
  footer{
    margin: 0 auto;
    height: 60px;
    margin-bottom: 11px;
    background-color: darkblue;

}
footer p{
    color: white;
    text-align: center;
    padding-top: 20px;
}

}