@media screen and (min-width: 700px) {




body{
    max-width: 840px;
    margin: 0 auto;
    border: black solid 2px;
}

header{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 1fr 0px 12px;
    background-color: darkblue;

    


}

nav{
    grid-column: 1/4;
    grid-row: 1/3; 
    text-align: center;

}
.navigation{
    list-style: none;

}

.navigation button{
 padding: 0.15em 0.65em 0.15em 0.65em;
 margin: 30px 0px 40px -40px;
 font-size: 30px;
 background-color: rgb(255,255,255,0.0);
 border: 0.2px solid white;
 color: white;

}
.navigation button::before{
  content: "≡";
  font-size: 1.1em;
}
.navigationopen button::before{
  content: "X";
  font-size: 1.1em;
}
  
.navigation li a{
   display: none; 
}
.navigationopen li a{
  display: none;
  color: white;
    padding: 0em 1em 0.2em 1em;
    margin: 0px 0px 0px -40px;
    text-decoration: none;
    font-size: 30px;
    display: block;
    border-top: 1px solid green; 
}


#icon{

    padding: 15px;
    grid-column: 1/2;
    grid-row: 1/2;
    
}
img:hover{
    transform: scale(1.04);
  transition: 0.2s;
      
        
  
  }
#socialmedia{
    text-align: center;
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 5px 10px 10px 20px;
    color: white;
    display: inline-block;

}
#socialmedia a{
    color: white;
}
#socialmedia a img{
    padding: 30px 10px 0px 0px;
}
#date{
    margin-top: -14px;
    background-color: #06c799;
    grid-row: 3/4;
    grid-column: 1/4;
    text-align: center;
}
#date span{
    text-align: center;
    font-size: 20px;
    color: darkblue;
}
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    max-height: 1850px;
    
 
    
}
#hero{
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: lightblue;
    margin: 10px 10px 0px 10px;
    text-align: center;
}
#hero img{

    margin: -15px 0px 0px -15px;
    transform: scale(1);
    width: 100%; /* or any custom size */
    height: 100%; 
    


}
#joinusbutton{
    height: 75px;
    width: 180px;
    margin-top: 70px;
    background-color: darkblue;
    color: white;
    border-radius: 7px;
    margin: 0 auto;
    
    
}
#herojoinus{
    height: 75px;
    width: 180px;
    margin-top: 70px;
    background-color: darkblue;
    color: white;
    border-radius: 7px;
    position: relative;
    top: -230px;
    z-index: 100;
    
}
#event{
    grid-column: 1/3;
    grid-row: 5/6;
    background-color: lightblue;
    margin: 0px 10px 0px 10px;
    text-align: center;
    color: darkblue;
    font-size: 1.25em;

}
#weather{
    grid-column: 3/4;
    grid-row: 5/6;
    background-color: lightblue;
    margin: 0px 10px 0px 10px;
    text-align: center;
    color: darkblue;
    font-size: 1.25em;
}
#join{
    grid-column: 1/4;
    grid-row: 4/5;
    background-color: lightblue;
    margin: 0px 10px 10px 10px;
    text-align: center;
    display: grid;
    color: darkblue;
    font-size: 1.25em;
}
#news{
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: lightblue;
    margin: 10px 10px 10px 10px;
    text-align: center;
    color: darkblue;
    font-size: 1.25em;
}
#spotlights{
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: lightblue;
    margin: 0px 10px 10px 10px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    display: grid;
}
#spot1{
    margin: 10px 10px 10px 10px;
    border: 2px solid darkblue;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    color: darkblue;
    font-size: 1.25em;
}
#spot2{
    margin: 10px 10px 10px 10px;
    border: 2px solid darkblue;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    color: darkblue;
    font-size: 1.25em;
}
#spot3{
    margin: 10px 10px 10px 10px;
    border: 2px solid darkblue;
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: center;
    display: block;
    color: darkblue;
    font-size: 1.25em;
}
.spotbuttons{
    height: 65px;
    width: 160px;
    margin-bottom: 15px;
    background-color: darkblue;
    color: white;
    border-radius: 7px;

}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: darkblue;
    justify-content: center;
    margin-top: 10px;
    
}
footer img{
    grid-column: 2/3;
    grid-row: 1/2;
}

#contactinfo{
    grid-column: 3/4;
    grid-row: 1/2;
    color: white;
    text-align: center;
    line-height: 12px;
    margin: 10px 40px 10px 10px;
    
}
#contactinfo a{
   text-decoration: none;
   color: white; 
   font-size: 20px;
}
#copyright{
    grid-column: 1/5;
    grid-row: 2/3;
    text-align: center;
    color: white;
}
#copyright a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#imglist{
    margin: 0 auto;
    width: 600px;
    
}
#demo, #demo ul{
    background-color: darkblue;
    list-style: none;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 3em;
    color: white;
    
}
#discover{
    background-color: lightblue;
    margin-bottom: 0px;
}


#centerform{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
    margin-top: 4%;
    height: 1300px;

}
#buttonform{
    margin-bottom: 0px;
   
    
  }

  /*Directory specific css*/
.cards{
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    max-height: 6000px;
    text-align: center;
    margin-bottom: -260px;
    
  }
  .card{
    background-color: darkblue;
    margin: 0 auto;
    color: white;
  }
  .card img{
    width: 75%;
  }
  .cards div{
    grid-column: 1/3;
  }
  .cardtr{
    color: white;
    width: 100%;


  }
  .cardstr{
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    padding-bottom: 25px;
    text-align: center;
    gap: 10px;
  }
  .cards button{
    margin: 10px;
    width: 45px;
    height: 35px;
  }
  .cardstr button{
    margin: 10px;
    width: 45px;
    height: 35px;
  }
  .cardsoff{
   display: none;
  }


}